//
// Skin: Test Data Services
// Mode: Light
//
//TDS_blue = #0008cc
//TDS_purple = #cdbef8
$blue:          #0008cc !default;
$purple:		#cdbef8 !default;

$primary:       $blue !default;
$secondary:		$purple !default;
